#registerBtnId{
    -fx-background-radius: 25;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#registerBtnId:hover{
    -fx-effect: dropshadow( gaussian , rgba(247, 247, 247, 0.924) , 10,0,0,1 );
}

#loginBtn{
    -fx-background-radius: 25;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#loginBtn:hover{
    -fx-effect: dropshadow( gaussian , rgba(247, 247, 247, 0.924) , 10,0,0,1 );
}